# WiFi Receiver (Hardware SDR)
# SDR Source -> Sync Short -> Sync Long -> FFT -> Equalizer -> Decoder

[[blocks]]
name = "flowgraph_controller"
type = "FlowgraphController"

[[blocks]]
name = "src"
type = "seify::Source"
[[blocks.parameters]]
name = "frequency"
type = "f64"
value = 5.17e9  # channel 34 by default
[[blocks.parameters]]
name = "sample_rate"
type = "f64"
value = 20e6
[[blocks.parameters]]
name = "gain"
type = "f64"
value = 28.0
[[blocks.parameters]]
name = "antenna"
type = "string"
value = ""
[[blocks.parameters]]
name = "args"
type = "string"
value = ""

[[blocks]]
name = "delay"
type = "Delay"
dtype = "Complex32"
[[blocks.parameters]]
name = "delay"
type = "usize"
value = 16

[[blocks]]
name = "complex_to_mag_2"
type = "Apply"
[[blocks.parameters]]
name = "function"
type = "closure"
value = "norm_sqr"

[[blocks]]
name = "float_avg"
type = "wifi::MovingAverage"
dtype = "f32"
[[blocks.parameters]]
name = "length"
type = "usize"
value = 64

[[blocks]]
name = "mult_conj"
type = "Combine"
[[blocks.parameters]]
name = "function"
type = "closure"
value = "mult_conjugate"

[[blocks]]
name = "complex_avg"
type = "wifi::MovingAverage"
dtype = "Complex32"
[[blocks.parameters]]
name = "length"
type = "usize"
value = 48

[[blocks]]
name = "divide_mag"
type = "Combine"
[[blocks.parameters]]
name = "function"
type = "closure"
value = "norm_divide"

[[blocks]]
name = "sync_short"
type = "wifi::SyncShort"

[[blocks]]
name = "sync_long"
type = "wifi::SyncLong"

[[blocks]]
name = "fft"
type = "Fft"
[[blocks.parameters]]
name = "size"
type = "usize"
value = 64

[[blocks]]
name = "frame_equalizer"
type = "wifi::FrameEqualizer"

[[blocks]]
name = "symbol_sink"
type = "WebsocketPmtSink"
[[blocks.parameters]]
name = "port"
type = "u16"
value = 9002

[[blocks]]
name = "decoder"
type = "wifi::Decoder"

[[blocks]]
name = "blob_to_udp_frames"
type = "BlobToUdp"
[[blocks.parameters]]
name = "addr"
type = "string"
value = "127.0.0.1:55555"

[[blocks]]
name = "blob_to_udp_rftap"
type = "BlobToUdp"
[[blocks.parameters]]
name = "addr"
type = "string"
value = "127.0.0.1:55556"

[[blocks]]
name = "rx_messages_sink"
type = "WebsocketPmtSink"
[[blocks.parameters]]
name = "port"
type = "u16"
value = 9003

# Connections
# Source -> delay and other branches
[[connections]]
from = "src"
from_port = "outputs[0]"
to = "delay"

# Branch 1: magnitude detection (src -> norm_sqr -> float_avg)
[[connections]]
from = "src"
from_port = "outputs[0]"
to = "complex_to_mag_2"

[[connections]]
from = "complex_to_mag_2"
to = "float_avg"

# Branch 2: complex correlation (src -> mult_conj.in0, delay -> mult_conj.in1)
[[connections]]
from = "src"
from_port = "outputs[0]"
to = "mult_conj"
to_port = "in0"

[[connections]]
from = "delay"
to = "mult_conj"
to_port = "in1"

[[connections]]
from = "mult_conj"
to = "complex_avg"

# Combine paths for divide_mag
[[connections]]
from = "complex_avg"
to = "divide_mag"
to_port = "in0"

[[connections]]
from = "float_avg"
to = "divide_mag"
to_port = "in1"

# Sync blocks
[[connections]]
from = "delay"
to = "sync_short"
to_port = "in_sig"

[[connections]]
from = "complex_avg"
to = "sync_short"
to_port = "in_abs"

[[connections]]
from = "divide_mag"
to = "sync_short"
to_port = "in_cor"

[[connections]]
from = "sync_short"
to = "sync_long"

[[connections]]
from = "sync_long"
to = "fft"

[[connections]]
from = "fft"
to = "frame_equalizer"

[[connections]]
from = "frame_equalizer"
to = "decoder"

# Message Connections
[[message_connections]]
from = "frame_equalizer"
from_port = "symbols"
to = "symbol_sink"
to_port = "in"

[[message_connections]]
from = "decoder"
from_port = "rx_frames"
to = "blob_to_udp_frames"
to_port = "in"

[[message_connections]]
from = "decoder"
from_port = "rftap"
to = "blob_to_udp_rftap"
to_port = "in"

# Forward RX frames to FlowgraphController for WebSocket broadcast
[[message_connections]]
from = "decoder"
from_port = "rx_frames"
to = "flowgraph_controller"
to_port = "rx"

[[message_connections]]
from = "flowgraph_controller"
from_port = "rx_out"
to = "rx_messages_sink"
to_port = "in"
