# WiFi Transmitter (Hardware SDR) - Clean Architecture
# Based on zigbee_tx.toml structure with wifi_tx.toml blocks
# FlowgraphController (block 0) allows hot-reload
# MAC -> Encoder -> Mapper -> IFFT -> Prefix -> Throttle -> SDR Sink

[[blocks]]
name = "flowgraph_controller"
type = "FlowgraphController"

[[blocks]]
name = "mac"
type = "wifi::Mac"
[[blocks.parameters]]
name = "src_addr"
type = "mac_addr"
value = "42:42:42:42:42:42"
[[blocks.parameters]]
name = "dst_addr"
type = "mac_addr"
value = "23:23:23:23:23:23"
[[blocks.parameters]]
name = "bssid"
type = "mac_addr"
value = "ff:ff:ff:ff:ff:ff"

[[blocks]]
name = "encoder"
type = "wifi::Encoder"
[[blocks.parameters]]
name = "mcs"
type = "Mcs"
value = "Qpsk_1_2"

[[blocks]]
name = "mapper"
type = "wifi::Mapper"

[[blocks]]
name = "fft"
type = "Fft"
[[blocks.parameters]]
name = "size"
type = "usize"
value = 64
[[blocks.parameters]]
name = "direction"
type = "FftDirection"
value = "Inverse"
[[blocks.parameters]]
name = "normalize"
type = "bool"
value = true
[[blocks.parameters]]
name = "scaling"
type = "f32"
value = 0.138675

[[blocks]]
name = "prefix"
type = "wifi::Prefix"
[[blocks.parameters]]
name = "pad_front"
type = "usize"
value = 5000
[[blocks.parameters]]
name = "pad_tail"
type = "usize"
value = 5000

[[blocks]]
name = "throttle"
type = "Throttle"
[[blocks.parameters]]
name = "rate"
type = "f64"
value = 1_000_000.0

[[blocks]]
name = "snk"
type = "seify::Sink"
[[blocks.parameters]]
name = "frequency"
type = "f64"
value = 1.0e9
[[blocks.parameters]]
name = "sample_rate"
type = "f64"
value = 2e6
[[blocks.parameters]]
name = "gain"
type = "f64"
value = 60.0
[[blocks.parameters]]
name = "antenna"
type = "string"
value = ""
[[blocks.parameters]]
name = "args"
type = "string"
value = ""

# Stream Connections (following zigbee pattern)
[[connections]]
from = "encoder"
from_port = "output"
to = "mapper"
to_port = "input"

[[connections]]
from = "mapper"
from_port = "output"
to = "fft"
to_port = "input"

[[connections]]
from = "fft"
from_port = "output"
to = "prefix"
to_port = "input"

[[connections]]
from = "prefix"
from_port = "output"
to = "throttle"
to_port = "input"

[[connections]]
from = "throttle"
from_port = "output"
to = "snk"
to_port = "inputs[0]"

# Message Connections
[[message_connections]]
from = "flowgraph_controller"
from_port = "tx_out"
to = "mac"
to_port = "tx"

[[message_connections]]
from = "mac"
from_port = "tx"
to = "encoder"
to_port = "tx"

# CLI Arguments
[cli]
[[cli.args]]
name = "antenna"
type = "string"
optional = true

[[cli.args]]
name = "args"
type = "string"
optional = true

[[cli.args]]
name = "gain"
type = "f64"
default = 60.0

[[cli.args]]
name = "sample_rate"
type = "f64"
default = 20e6

[[cli.args]]
name = "channel"
type = "f64"
default = 34
parser = "parse_channel"
